<div class="f-14 font-weight-bold">
  Mental Status Exam
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    Orientation
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    Memory
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    Attention
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    Speech/language
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    Fund of knowledge
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    Mood & affect
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-4">
    MSE Comments
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control">
  </div>
</div>
