<div class="container">
  <div class="row porphyritic-history mb-3">
    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="no-known-history">
        <label class="form-check-label f-14" for="no-known-history">
          No Known History
        </label>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="no-changes-in-history">
        <label class="form-check-label f-14" for="no-changes-in-history">
          No Changes in History
        </label>
      </div>
    </div>
  </div>

  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-4">
      <label class="f-14">Were you adopted ? </label>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="were-you-adopted-yes" name="were-you-adopted" value="yes" >
        <label class="form-check-label f-14" for="were-you-adopted-yes">Yes</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="were-you-adopted-no" name="were-you-adopted" value="no" >
        <label class="form-check-label f-14" for="were-you-adopted-no">No</label>
      </div>
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="were-you-adopted-input">
    </div>

  </div>

  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Did your biological parents separate or divorce during your childhood?</label>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="did-your-biological-parents-yes" name="did-your-biological-parents" value="yes" >
        <label class="form-check-label f-14" for="did-your-biological-parents-yes">Yes</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="did-your-biological-parents-no" name="did-your-biological-parents" value="no" >
        <label class="form-check-label f-14" for="did-your-biological-parents-no">No</label>
      </div>
    </div>

  </div>
  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Loss of parent by death prior to age 18?</label>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="loss-of-parent-by-death-prior-yes" name="loss-of-parent-by-death-prior" value="yes" >
        <label class="form-check-label f-14" for="loss-of-parent-by-death-prior-yes">Yes</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="loss-of-parent-by-death-prior-no" name="loss-of-parent-by-death-prior" value="yes" >
        <label class="form-check-label f-14" for="loss-of-parent-by-death-prior-no">No</label>
      </div>
    </div>

  </div>


  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">How would you consider your childhood?</label>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="how-would-you-consider-your-childhood-happy" name="how-would-you-consider-your-childhood" value="happy" >
        <label class="form-check-label f-14" for="how-would-you-consider-your-childhood-happy">Happy</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="how-would-you-consider-your-childhood-average" name="how-would-you-consider-your-childhood" value="average" >
        <label class="form-check-label f-14" for="how-would-you-consider-your-childhood-average">Average</label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="how-would-you-consider-your-childhood-unhappy" name="how-would-you-consider-your-childhood" value="unhappy" >
        <label class="form-check-label f-14" for="how-would-you-consider-your-childhood-unhappy">Unhappy</label>
      </div>
    </div>

  </div>


  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Was upbringing</label>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="was-upbringing-lower" name="was-upbringing" value="lower" >
        <label class="form-check-label f-14" for="was-upbringing-lower">Lower</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="was-upbringing-middle" name="was-upbringing" value="middle" >
        <label class="form-check-label f-14" for="was-upbringing-middle">Middle</label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="was-upbringing-upper-econimic-class" name="was-upbringing" value="upper econimic class" >
        <label class="form-check-label f-14" for="was-upbringing-upper-econimic-class">Upper econimic class</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <label class="f-14">During childhood, were you ever concerned any form of</label>
    </div>
  </div>
  <div class="row border-bottom pb-0 pt-0 mt-1" *ngFor="let question of childHoodQuestions; let i=index">
    <div class="col-sm-3 offset-sm-3">
      <label class="f-14">{{question.question }}</label>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" [id]="question.label+'-yes'" [name]="question.label" value="yes" (change)="handleChangeRadio(question.id)">
        <label class="form-check-label f-14" [for]="question.label+'-yes'">Yes</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">

        <input type="radio" [id]="question.label + '-no'" [name]="question.label" value="no" (change)="handleChangeRadio(question.id)">
        <label class="form-check-label f-14" [for]="question.label+'-no'">No</label>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" [id]="question.label" [disabled]="question.disabled">
    </div>

  </div>

  <div class="row pt-2">
    <div class="col-sm-2">
      <label class="f-14">Education</label>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
        <select class="form-control" (change)="handleChangeEducationSelect($event)">
            <option  selected="" value="">Select</option>
            <option  value="secondary">Secondary</option>
            <option  value="graduate">Graduate</option>
            <option  value="postgraduate">Postgraduate</option>
            <option  value="others">Others</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="others-eduction" [disabled]="disableOthersEducations">
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-sm-2">
      <label class="f-14" for="occupation">Occupation</label>
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="occupation">
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-sm-12">
      <label class="f-14 font-weight-bold">Relationship</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <label class="f-14" for="current-relationship-status">Current Relationship Status</label>
    </div>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="current-relationship-status">
    </div>
  </div>


  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Have you ever been divorced?</label>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="have-you-ever-been-divorced-yes" name="have-you-ever-been-divorced"
               value="yes" (change)="disableDivorcedInput= false">
        <label class="form-check-label f-14" for="have-you-ever-been-divorced-yes">Yes</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">

        <input type="radio" id="have-you-ever-been-divorced-no" name="have-you-ever-been-divorced"
               value="no" (change)="disableDivorcedInput= false">
        <label class="form-check-label f-14" for="have-you-ever-been-divorced-no">No</label>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="have-you-ever-been-divorced-input" [disabled]="disableDivorcedInput">
    </div>

  </div>
  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Current Relationship is?</label>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input type="radio" id="current-relationship-poor" name="current-relationship"
               value="poor">
        <label class="form-check-label f-14" for="current-relationship-poor">Poor</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">

        <input type="radio" id="current-relationship-fair" name="current-relationship"
               value="fair">
        <label class="form-check-label f-14" for="current-relationship-fair">Fair</label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">

        <input type="radio" id="current-relationship-good" name="current-relationship"
               value="good">
        <label class="form-check-label f-14" for="current-relationship-good">Good</label>
      </div>
    </div>

  </div>


  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Are you sexually active?</label>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="are-you-sexually-active-yes" name="are-you-sexually-active"
               value="yes">
        <label class="form-check-label f-14" for="are-you-sexually-active-yes">Yes</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="are-you-sexually-active-no" name="are-you-sexually-active"
               value="no">
        <label class="form-check-label f-14" for="are-you-sexually-active-no">Yes</label>
      </div>
    </div>
  </div>



  <div class="row border-bottom pb-0 pt-0 mt-1">
    <div class="col-sm-6">
      <label class="f-14">Sexual preferences?</label>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="sexual-preferences-opposite" name="sexual-preferences"
               value="opposite">
        <label class="form-check-label f-14" for="sexual-preferences-opposite">Opposite Sex</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="sexual-preferences-same" name="sexual-preferences"
               value="same">
        <label class="form-check-label f-14" for="sexual-preferences-same">Same Sex</label>
      </div>
      </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="radio" id="sexual-preferences-bisexual" name="sexual-preferences"
               value="bisexual">
        <label class="form-check-label f-14" for="sexual-preferences-bisexual">Bisexual</label>
      </div>
    </div>
  </div>

  </div>

