<div class="container">
  <div class="row personal-history">
    <div class="col-sm-4">
      <label class="f-14">Personal History</label>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="no-known-personal-history">
        <label class="form-check-label f-14" for="no-known-personal-history">
          No Known History
        </label>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="no-changes-in-personal-history">
        <label class="form-check-label f-14" for="no-changes-in-personal-history">
          No Changes in History
        </label>
      </div>
    </div>
  </div>






  <div class="row">
    <div class="col-sm-6" *ngFor="let input of inputs">
      <app-input-with-checkbox [label]="input"></app-input-with-checkbox>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-3">
      <label class="form-check-label f-14" for="others-specify-input">
        Others, Specify
      </label>
    </div>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="others-specify"
             id="others-specify-input" maxlength="100" />
      <div>
      </div>
    </div>
  </div>

</div>


