<div class="my-container" style="width: 100% !important;">
  <div class="row border-bottom">
    <div class="col-12">
      <app-psychiatric-exam></app-psychiatric-exam>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-12">
      <app-mental-status-exam></app-mental-status-exam>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-12">
      <app-axis-diagnosis></app-axis-diagnosis>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-treatment-plan-and-recomendations></app-treatment-plan-and-recomendations>
    </div>
  </div>
</div>

