<div class="row p-2">
  <div class="col-md-2">
    <div class="form-group">
      <label class="form-control-label" for="mrn">Temp
      </label>
      <input type="text" class="form-control" required name="mrn" id="mrn"/>
      <span>C</span>
      <div>
        <!-- <small class="form-text text-danger"
               >Please enter a valid input. </small> -->
      </div>
    </div>
  </div>

  <!--  end col 4 -->
  <div class="col-md-2">
    <div class="form-group">
      <label class="form-control-label" for="patientName">Pulse
        <!-- <span class='required'>*</span> -->
      </label>
      <input type="text" class="form-control" name="patientName" id="patientName"
             required maxlength="100"/>
      <span>/min</span>
    </div>
  </div>
  <!--  end col 4 -->
  <div class="col-md-2">
    <div class="form-group">
      <label class="form-control-label" for="field_patientMiddlename">R.R</label>
      <input type="text" class="form-control" name="patientMiddleName"
             id="field_patientMiddlename" maxlength="100"/>
      <span>/min</span>
      <div>

      </div>
    </div>
  </div>
  <!--  end col 4 -->
  <div class="col-md-2">
    <div class="form-group">

      <label class="form-control-label" for="patientSurname">Systolic
        <!-- <span class='required'>*</span> -->
      </label>
      <input type="text" class="form-control" name="patientSurname"
             id="patientSurname" maxlength="100"/>
      <span>mmHg</span>
      <div>

      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">

      <label class="form-control-label" for="diastolicInput">Diastolic
        <!-- <span class='required'>*</span> -->
      </label>
      <input type="text" class="form-control" name="diastolicInput"
             id="diastolicInput" maxlength="100"/>
      <span>mmHg</span>
      <div>

      </div>
    </div>
  </div>
  <div class="row pl-3">
    <div class="col-md-2">
      <div class="form-group">

        <label class="form-control-label" for="o2sat">O2SAT
          <!-- <span class='required'>*</span> -->
        </label>
        <input type="text" class="form-control" name="o2sat" id="o2sat"
               maxlength="100"/>
        <span>%</span>

      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">

        <label class="form-control-label" for="ag">A.G
          <!-- <span class='required'>*</span> -->
        </label> <input type="text" class="form-control" name="ag" id="ag"
                        maxlength="100"/>
        <span>cm</span>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">

        <label class="form-control-label" for="height">Height
          <!-- <span class='required'>*</span> -->
        </label> <input type="text" class="form-control" name="height"
                        id="height" maxlength="100"/>
        <span>cm</span>
        <div>

        </div>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">

        <label class="form-control-label" for="weight">Weight
          <!-- <span class='required'>*</span> -->
        </label> <input type="text" class="form-control" name="weight"
                        id="weight" maxlength="100"/>
        <span>kg</span>
        <div>

        </div>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">

        <label class="form-control-label" for="bma">BMI
          <!-- <span class='required'>*</span> -->
        </label> <input type="text" class="form-control" name="bma" id="bma"
                        maxlength="100"/>
        <span>kg/m2</span>

      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">

        <label class="form-control-label" for="bma">Blood Glucose Level
          <!-- <span class='required'>*</span> -->
        </label> <input type="text" class="form-control" name="bgl" id="bgl"
                        maxlength="200"/>
        <span>mg/dl</span>

      </div>
    </div>
  </div>


  <!--  end col 4 -->

</div>
