<div class="row pt-2 border-bottom shadow-sm form-patient-style" [ngClass]="shrink ? ' shrinked' : ''">
    <div class="col-sm-2" style="text-align: center;">
        <img [ngStyle]="{height: shrink? '0px' : '80px', border: shrink? 'none' : 'rounded-circle'}" [alt]="patient.name" class="img-thumbnail  rounded-circle image-style" [src]="patient.imageUrl" [ngClass]="shrink ? ' shrinked' : ''"/>
    </div>
    <div class="col-sm-3 border-left align-self-center">
        <!-- Patient: -->
        <div class="font-weight-bold">{{patient.name}}</div>
        <div>{{patient.gender}}</div>
    </div>
    <div class="col-sm-2 border-left align-self-center">
        <div>MRN: {{patient.mrn}}</div>
        <div>PVR No: {{patient.pvrNo}}</div>
    </div>
    <div class="col-sm-2 border-left align-self-center">
        <div>{{patient.birthDate}}</div>
        <div>{{patient.age}}</div>
    </div>
    <div class="col-sm-2 border-left align-self-center">
        Dr. {{patient.doctor}}
    </div>
</div>
