<div class="row pt-2 border-bottom shadow-sm form-patient-style" style="position: fixed; background-color: #fff; z-index: 100; margin-top: -7px;">
    <div class="col-sm-2" style="text-align: center;">
        <img [alt]="patient.name" class="img-thumbnail  rounded-circle" [src]="patient.imageUrl" style="max-height: 90px;"/>
    </div>
    <div class="col-sm-3 border-left align-self-center">
        <!-- Patient: -->
        <div class="font-weight-bold">{{patient.name}}</div>
        <div>{{patient.gender}}</div>
    </div>
    <div class="col-sm-2 border-left align-self-center">
        <div>MRN: {{patient.mrn}}</div>
        <div>PVR No: {{patient.pvrNo}}</div>
    </div>
    <div class="col-sm-2 border-left align-self-center">
        <div>{{patient.birthDate}}</div>
        <div>{{patient.age}}</div>
    </div>
    <div class="col-sm-2 border-left align-self-center">
        Dr. {{patient.doctor}}
    </div>
</div>