<app-top-part></app-top-part>
<div class="my-container">
  <div class="row">
    <div class="col-sm-6 shadow-sm pt-3">
      <app-clinician-desk-tabs></app-clinician-desk-tabs>
    </div>
    <div class="col-sm-6 shadow-sm pt-3">
      <app-right-part></app-right-part>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered  table-pims">
      <thead>
      <tr>
        <th>Service Type</th>
        <td>Description</td>
        <td>Status</td>
        <td>Order By & On</td>

      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-1 offset-sm-9 text-center">
      <button class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-1 text-center">
      <button class="btn btn-secondary">Sign in </button>
    </div>
    <div class="col-sm-1 text-center">
      <button class="btn btn-danger">Clear</button>
    </div>
  </div>
</div>

