
<nav class="navbar navbar-expand-lg ">
    <div class="jh-logo-container float-left">
        <div class="navbar-brand logo float-left">
            <!-- <span class="logo-img"></span> -->
            <!-- <span class="navbar-title">PPMS</span>  -->
        </div>
    </div>
    <div id="navbarResponsive">
        <ul class="navbar-nav ml-auto pl-4">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link nav-home"> <span>
                        <!-- <i class="fa fa-home"></i>  -->
                        <!-- <fa-icon icon="coffee"></fa-icon> -->
                        <img class="nav-image" src="../assets/home.png">
                        <span>Home</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link nav-home"> <span>
                        <!-- <i class="fa fa-home"></i>  -->
                        <!-- <fa-icon icon="coffee"></fa-icon> -->
                        <img class="nav-image" src="../assets/list-patients.png">
                        <span>Patients</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- <div style="height:100px"></div> -->
<div style="padding-top: 80px;">
    <router-outlet></router-outlet>

</div>
