
<nav class="navbar navbar-expand-lg ">
    <div class="jh-logo-container border-right">
        <div class="navbar-brand logo">
            <!-- <span class="logo-img"></span> -->
            <!-- <span class="navbar-title">PPMS</span>  -->
        </div>
    </div>
    <div id="navbarResponsive">
        <ul class="navbar-nav ml-auto pl-2" >

            <li class="nav-item border-right" routerLinkActive="active" routerLink="/" style="outline: none; cursor: pointer; text-align: center;">
                <a class="nav-link nav-home"> <span>
                        <!-- <i class="fa fa-home"></i>  -->
                        <!-- <fa-icon icon="coffee"></fa-icon> -->
                        <img class="nav-image" src="assets/home.png" style="margin-left: 20px;">
                        <span>Home</span>
                    </span>
                </a>
            </li>
            <li class="nav-item border-right" routerLinkActive="active" routerLink="/" style="outline: none; cursor: pointer;  text-align: center;">
                <a class="nav-link nav-home"> <span>
                        <!-- <i class="fa fa-home"></i>  -->
                        <!-- <fa-icon icon="coffee"></fa-icon> -->
                        <img class="nav-image" src="assets/list-patients.png" style="margin-left: 20px;">
                        <span>Patients</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--<nav id="sidebar">-->
<!--    &lt;!&ndash; <div class="sidebar-header">-->
<!--        <h3>Bootstrap Sidebar</h3>-->
<!--    </div> &ndash;&gt;-->
<!--    <ul class="list-unstyled components">-->
<!--        &lt;!&ndash; <p>Dummy Heading</p> &ndash;&gt;-->
<!--        <li class="active">-->
<!--            Home-->
<!--        </li>-->
<!--        <li>-->
<!--            About-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<!-- <div style="height:100px"></div> -->
<div style="padding-top: 80px;">
    <router-outlet></router-outlet>

</div>
