/**======================== Icon ==================================================**/

// @font-face {
//     font-family: "Flaticon";
//     src: url("./Flaticon.eot");
//     src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
//          url("./Flaticon.woff2") format("woff2"),
//          url("./Flaticon.woff") format("woff"),
//          url("./Flaticon.ttf") format("truetype"),
//          url("./Flaticon.svg#Flaticon") format("svg");
//     font-weight: normal;
//     font-style: normal;
//   }

//   @media screen and (-webkit-min-device-pixel-ratio:0) {
//     @font-face {
//       font-family: "Flaticon";
//       src: url("./Flaticon.svg#Flaticon") format("svg");
//     }
//   }

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    /*margin-left: 20px;*/
}

.flaticon-doctor:before {
    content: "\f100";
    font-size: 24px;
}
.flaticon-drugs:before {
    content: "\f101";
    font-size: 24px;
}
.flaticon-microscope:before {
    content: "\f102";
    font-size: 24px;
}
.flaticon-cashier:before {
    content: "\f103";
}
.flaticon-cashier-1:before {
    content: "\f104";
}
.flaticon-medicine:before {
    content: "\f105";
}
.flaticon-drug:before {
    content: "\f106";
    font-size: 24px;
}
.flaticon-snake:before {
    content: "\f107";
}
.flaticon-pharmacy:before {
    content: "\f108";
}
.flaticon-files-and-folders:before {
    content: "\f109";
}
.flaticon-prescription:before {
    content: "\f10a";
}

/* ==========================================================================
  Navbar
  ========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    background-color: #353d47;
    padding: 0.2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
            min-width: 100px;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

nav.navbar .navbar-nav li #account-menu {
    padding-right: 0;
}

nav.navbar ul li a i:before {
    color: #17A2B8;
}

/* ==========================================================================
  Logo styles
  ========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            //   background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
            background-size: contain;
        }
    }
}

.jh-logo-container {
    background-color: #fff;
    height: 76px;

    .navbar-brand.logo {
        // background: url(../assets/nrcLogo.jpg) no-repeat 20% 37%;
        background: url(../assets/nrcLogo.png) no-repeat;
        width: 250px;
        height: 64px;
        display: block;
        background-repeat: no-repeat;
        background-size: 100 100;
        background-size: contain;
        margin-top: 7px;
        background-position: center;
        // @media screen and (max-width: $mediaiPadWidth) {
        //     width: 150px;
        // }
    }
}
.navbar{
    padding: 0 !important;
    background: #ffffff !important;
    box-shadow: 0 6px 6px -6px #00000030;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 111;
    right: 0;
    left: 0;
}

.nav-image{
    width: 35px;
    display: block;
}
.nav-item {
    
    min-width: 100px;
}

#sidebar {
    min-width: 266px;
    max-width: 266px;
    margin-top: 75px;
    height:100%;
    background-color: #17A2B8;
    position: fixed;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar li{
    padding: 8px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    color: rgba(255, 255, 255);
    
}



@font-face{
    font-family: "Century Gothic" ;
    src: url("../assets/fonts/Century Gothic 400.ttf") format(true type);
}
  *{
          font-family: "Century Gothic";
      }


:host ::ng-deep .f-14{
  font-size: 14px;

}
:host ::ng-deep .input-group-append{
  span{
    padding: 8px;
    img{
      max-width: 18px !important;
    }
  }
}

:host ::ng-deep .small-fields{
  .form-group{
    span{
      position: absolute;
      left: 85%;
      top: 60%;
      font-size: 13px;
    }

    input{
      max-width: 90%;
    }
  }
}
