<div class="row mt-3 tabs">
    <div class="col-sm-6 text-center">
        <button class="btn" [ngClass]="selectedTab == 'queue' ? ' selected' : ''" (click)="selectTab('queue')">In
            Queue</button>
    </div>
    <div class="col-sm-5 text-center">
        <button class="btn" [ngClass]="selectedTab == 'attended' ? ' selected' : ''"
            (click)="selectTab('attended')">Attended</button>
    </div>
</div>
<div class="row mt-3" style="margin-right: 0 !important;">
    <div class="col-sm-4 offset-sm-4 text-center">
        <input class="form-control mr-sm-2" type="search" placeholder="EID, MRN, PVR No, Contact No, Name" aria-label="Search">
    </div>
</div>

<div class="row patient-list">
    <ng-container *ngFor="let patient of patients; let i = index">
        <div class="col-sm-1" *ngIf=" i % 2 == 0 "></div>

        <div class="col-sm-5" (click)="openAttendedCardiologyForm(patient)" [routerLink]="['/attended-cardiology-form']"
            style="cursor: pointer; outline: none;">
            <app-patient [patient]="patient"></app-patient>
        </div>
        <div class="col-sm-1" *ngIf=" i % 2 != 0 "></div>
    </ng-container>
</div>


<div class="row mt-3" style="margin-right: 0 !important;">
    <div class="col-sm-10 text-center offset-sm-2">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>