
<div class="row mt-3">
    <div class="col-sm-2">
         <button class="btn" [ngClass]="selectedTab == 'queue' ? ' selected' : ''"
          (click)="selectTab('queue')">In Queue</button>
        </div>
        <div class="col-sm-2">
            <button class="btn" [ngClass]="selectedTab == 'attended' ? ' selected' : ''"
            (click)="selectTab('attended')">Attended</button>
           </div>
</div>
<div class="row patient-list">

<ng-container *ngFor="let patient of patients">
        <div class="col-sm-5" (click)="openAttendedCardiologyForm(patient)" [routerLink]="['/attended-cardiology-form']" style="cursor: pointer; outline: none;">
            <app-patient [patient]="patient"></app-patient>
        </div>
</ng-container>
</div>
