<div class="container">
  <div class="row family-history section-title-with-radio">
    <div class="col-sm-4">
      <label class="f-14"><span class="custom-link" (click)="openHomeMedications()">
                                Home Medications
                            </span></label>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="no-known-home-medications">
        <label class="form-check-label f-14" for="no-known-home-medications">
          No Known History
        </label>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="no-changes-in-home-medications">
        <label class="form-check-label f-14" for="no-changes-in-home-medications">
          No Changes in History
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped" style="table-layout:fixed;">
        <thead>
        <tr>
          <th scope="col f-14">Medications</th>
          <th scope="col f-14">Start</th>
          <th scope="col f-14">Stop</th>
          <th scope="col f-14">Last Taken Date & Time</th>
          <th scope="col f-14">Ordering Physician</th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td class="f-14" style="word-wrap:break-word;">
            Clopidogrel (Clopidogrel 75mg oral tablet)
            1Tab(s), Oral, Daily, for 60 days
            Remarks........................................
          </td>
          <td class="f-14">01-04-2020 14:20</td>
          <td class="f-14">30-05-2020 14:20</td>
          <td class="f-14">08-04-2020 14:20</td>
          <td class="f-14">Dr. Mohammed Houcem Ameour</td>
        </tr>
        <tr>

          <td class="f-14" style="word-wrap:break-word;">
            Paracetamol 100 mg
            2Tab(s), Oral, Daily, for 3 Days
            Remarks.........................................
          </td>
          <td class="f-14"></td>
          <td class="f-14"></td>
          <td class="f-14">08-04-2020 10:00</td>
          <td class="f-14"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


