.patient{
    margin-top:10px;
    img{
        height: 65px;
        width: 65px;
        max-width:  65px;
        border: none;
    }

    h3{
        font-size: 18px;
        margin-bottom: 0 !important;
    }
    p{
        font-size: 12px;
        margin-bottom: 0 !important;
    }
}

  