<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-right: 0px !important;">
            <div class="col-md-5 rounded shadow bg-white mb-2 mt-2 pt-2">
                <table class="table table-bordered  table-pims">
                    <thead>
                        <tr>
                            <th style="visibility:hidden;"></th>
                            <td>14:10</td>
                            <td>14:50</td>
                            <td>13:15</td>
                            <td></td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Temp (°C)</th>
                            <td>37.5</td>
                            <td>38</td>
                            <td>38</td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>

                        </tr>
                        <tr>
                            <th>Pulse (/min)</th>
                            <td>85</td>
                            <td>86</td>
                            <td>90</td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>R.R (/min)</th>
                            <td>18</td>
                            <td>17</td>
                            <td>17</td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>Systolic (mmHg)</th>
                            <td>120</td>
                            <td>120</td>
                            <td>120</td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>Diastolic (mmHg)</th>
                            <td>80</td>
                            <td>78</td>
                            <td>80</td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>O2SAT (%)</th>
                            <td>99</td>
                            <td>99</td>
                            <td></td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>A.G (cm)</th>
                            <td>40</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>Height (cm)</th>
                            <td>165</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>Weight (kg)</th>
                            <td>65</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>BMI (kg/m2)</th>
                            <td>23.9</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th>GRBS (mg/dl)</th>
                            <td>130</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" class="form-control" /> </td>
                        </tr>
                        <tr>
                            <th style="visibility:hidden;"></th>
                            <td style="visibility:hidden;"></td>
                            <td style="visibility:hidden;"></td>
                            <td style="visibility:hidden;"></td>
                            <td><input type="button" class="form-control" value="Add" /> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3" style="margin-right: 0px !important;">
            <div class="col-10 rounded shadow bg-white p-4">
                <div class="row border-bottom">
                    <div class="col-md-4">
                        <div class="row pb-3">

                            <span class="custom-link" (click)="openFallRisk(content)">
                                Fall Risk Assessment:
                            </span>
                        </div>
                        <div class="row pb-3">
                            <span class="custom-link" (click)="openPainAssessment(painAssessment)">
                                Pain Assessment
                            </span>
                        </div>
                        <div class="row">
                            <span class="custom-link" (click)="openHomeMedications(homeMedications)">
                                Home Medications
                            </span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row pb-3">
                            25 (14:10) 0 (13:15)
                        </div>
                        <div class="row pb-3">
                            4 (14:10) 0 (13:15)
                        </div>
                        <div class="row">

                        </div>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-sm-4">
                        <label class="section-title">Allergies</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios2">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios3">
                                Not Known
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios4">
                                No Changes
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-4">
                        <select class="custom-select">
                            <option selected="" value="Allergy Type">Allergy Type</option>
                            <option class="u602_input_option" value="Allergic Asthma">Allergic Asthma</option>
                            <option value="Drug Allergy">Drug Allergy</option>
                            <option value="Dust Allergy">Dust Allergy</option>
                            <option value="Environmental Allergy">Environmental Allergy</option>
                            <option value="Food Allergy">Food Allergy</option>
                            <option value="Hay Fever">Hay Fever</option>
                            <option value="Insect Allergy">Insect Allergy</option>
                            <option value="Latex Allergy">Latex Allergy</option>
                            <option value="Mold Allergy">Mold Allergy</option>
                            <option value="Pet Allergy">Pet Allergy</option>
                            <option value="Pollen Allergy">Pollen Allergy</option>
                            <option value="Respiratory Allergy">Respiratory Allergy</option>
                            <option value="Skin Allergy">Skin Allergy</option>
                        </select>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Allergies"
                                aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                                <span class="input-group-text"><img src="../assets/search.png" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="patientSurname"
                                placeholder="Kind of Reactions" id="patientSurname" maxlength="100" />
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4 offset-sm-4 text-center">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Allergy Type</th>
                                    <th scope="col">Allergies</th>
                                    <th scope="col">Kind of Reactions</th>
                                    <th scope="col">ICD(S)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        Food Allergy
                                    </td>
                                    <td>shell fish</td>
                                    <td>Itching</td>
                                    <td>Z91.013</td>
                                </tr>
                                <tr>

                                    <td>
                                        Drug Alergy
                                    </td>
                                    <td>Penicillin</td>
                                    <td>HIves, Swelling</td>
                                    <td>Z88.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <!-- end col -->
        </div>
        <div class="row mb-3" style="margin-right: 0px !important;">
            <div class="col-10 rounded shadow bg-white p-4">
                
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Fall Risk Assessment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="shadow p-3 mb-5 bg-white rounded">
            <div class="row mb-2">
                <div class="col-3 my-auto">

                </div>
                <div class="col-4 my-auto">
                    [Modified Morse Fall Scale]
                </div>
                <div class="col-5">
                    Fall Risk Score: 75 <span style="color:red;">At Risk of Fall</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 my-auto">
                    Patient with special needs:
                </div>
                <div class="col-2">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Yes[25]</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="col-3 my-auto">
                    Ambulatory aid:
                </div>
                <div class="col-3">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Bed rest/Nurse assist [0]</option>
                        <option>Crutches/Cane/Walker [15]</option>
                        <option>Furniture for support [30]</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 my-auto">
                    History of falling; immediate / within 3 months:
                </div>
                <div class="col-2">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Yes[25]</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="col-3 my-auto">
                    IV/Heparin Lock:
                </div>
                <div class="col-3">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Yes[25]</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 my-auto">
                    Secondary diagnosis & post-operative immobilization:
                </div>
                <div class="col-2">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Yes[25]</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="col-3 my-auto">
                    Gait/transfering:
                </div>
                <div class="col-3">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Normal/Bed rest/Immobile [0]</option>
                        <option>Weak [10]</option>
                        <option>Impaired [20]</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 my-auto">
                    Medication affecting balance/concentration:
                </div>
                <div class="col-2">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Yes[25]</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="col-3 my-auto">
                    Mental Status:
                </div>
                <div class="col-3">
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Oriented to own ability [0]</option>
                        <option>Weak [10]</option>
                        <option>Impaired [20]</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 my-auto">
                </div>
                <div class="col-2">
                </div>
                <div class="col-3 my-auto">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
        <form class="shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <h2>Final Diagnosis</h2>
            </div>
            <table class="table table-bordered  modal-table">
                <thead>
                    <tr>
                        <th>ICD Code</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>J00</td>
                        <td>Acute nasopharyngitis [common cold]</td>
                    </tr>
                    <tr>
                        <td>R51</td>
                        <td>Headache</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <h4>Provisional Diagnosis</h4>
            </div>
            <table class="table table-bordered  modal-table">
                <thead>
                    <tr>
                        <th>ICD Code</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>J01.00</td>
                        <td>Acute maxillary sinusitis, unspecified</td>
                    </tr>
                    <tr>
                        <td>I10</td>
                        <td>Essential (primary) hypertension</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <h4>Medical Services</h4>
            </div>
            <table class="table table-bordered  modal-table">
                <thead>
                    <tr>
                        <th>CPT Code</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>85027</td>
                        <td>Blood count; complete (CBC), automated (Hgb, Hct, RBC, WBC and platelet count)</td>
                    </tr>
                    <tr>
                        <td>87086</td>
                        <td>Culture, bacterial; quantitative colony count, urine</td>
                    </tr>
                    <tr>
                        <td>71010</td>
                        <td>Radiologic examination, chest; single view, frontal</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <h4>Medical Prescription</h4>
            </div>
            <table class="table table-bordered  modal-table">
                <thead>
                    <tr>
                        <th>Generic Name</th>
                        <th>Brand Name</th>
                        <th>Route</th>
                        <th>Instructions</th>
                    </tr>
                </thead>
                <tbody>
                    <td>PARACETAMOL 120MG/5ML SUSP</td>
                    <td>ADOL 120MG SUSPN</td>
                    <td>Oral</td>
                    <td>Take 100ml , 2 Times(s) Per Day For 5 Days(s)</td>
                </tbody>
            </table>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
<ng-template #painAssessment let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pain Assessment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="shadow p-3 mb-5 bg-white rounded">
            <div class="row mt-4">
                <div class="col-sm-4">
                    <label class="section-title">Pain Assessments</label>
                </div>
                <div class="col-sm-3">
                    <label>Pain Score:</label>
                </div>
                <div class="col-sm-1 pl-0">
                    <img id="u488_img" class="img" src="../assets/nursing_assessment/selected_pain_img_0_u488.svg" />
                    <p class="pl-2"><span>0</span></p>
                </div>

                <div class="col-sm-4">
                    <p>Moderate pain</p>
                    <p style="color: red;">Intervention Required</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/selected_pain_img_0_u488.svg" />
                    <p class="pl-2"><span>0</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_1_u475.svg" />
                    <p class="pl-2"><span>1</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_3_u476.svg" />
                    <p class="pl-2"><span>2</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_2_u477.svg" />
                    <p class="pl-2"><span>3</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_4_u479.svg" />
                    <p class="pl-2"><span>4</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_6_u478.svg" />
                    <p class="pl-2"><span>5</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_5_u480.svg" />
                    <p class="pl-2"><span>6</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_7_u481.svg" />
                    <p class="pl-2"><span>7</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_8_u483.svg" />
                    <p class="pl-2"><span>8</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_9_u482.svg" />
                    <p class="pl-2"><span>9</span></p>
                </div>
                <div class="col-sm-1">
                    <img id="u488_img" class="img" src="../../assets/nursing_assessment/pain_score_img_9_u482.svg" />
                    <p class="pl-2"><span>10</span></p>
                </div>
                <div class="col-sm-4">
                    <select class="custom-select">
                        <option class="u485_input_option" selected="" value="Pain Scale">Pain Scale</option>
                        <option class="u485_input_option" value="0">0</option>
                        <option class="u485_input_option" value="1">1</option>
                        <option class="u485_input_option" value="2">2</option>
                        <option class="u485_input_option" value="3">3</option>
                        <option class="u485_input_option" value="4">4</option>
                        <option class="u485_input_option" value="5">5</option>
                        <option class="u485_input_option" value="6">6</option>
                        <option class="u485_input_option" value="7">7</option>
                        <option class="u485_input_option" value="8">8</option>
                        <option class="u485_input_option" value="9">9</option>
                        <option class="u485_input_option" value="10">10</option>
                    </select>
                </div>
            </div>
        </form>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
<ng-template #homeMedications let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Home Medications</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row shadow p-3 mb-2 mr-3 ml-3 bg-white rounded">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="mrn">Medicine Name
                    </label>
                    <input type="text" class="form-control" required name="mrn" id="mrn" minlength="200" />
                </div>
            </div>

            <!--  end col 4 -->
            <div class="col-md-1">
                <div class="form-group">
                    <label class="form-control-label" for="patientName">Dose
                        <!-- <span class='required'>*</span> -->
                    </label>
                    <input type="text" class="form-control" name="patientName" id="patientName" required
                        maxlength="100" />
                </div>
            </div>
            <!--  end col 4 -->
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="field_patientMiddlename">Unit</label>
                    <select class="custom-select">
                        <option selected="" value="">Select</option>
                        <option value="mg">mg</option>
                        <option value="ml">ml</option>
                        <option value="Tab">Tab</option>
                        <option value="mcg">mcg</option>
                        <option value="Cap">Cap</option>
                    </select>

                    <div>

                    </div>
                </div>
            </div>
            <!--  end col 4 -->
            <div class="col-md-2">
                <div class="form-group">

                    <label class="form-control-label" for="patientSurname">Frequency
                        <!-- <span class='required'>*</span> -->
                    </label>
                    <input type="text" class="form-control" name="patientSurname" id="patientSurname" maxlength="100" />
                    <span>
                        <select class="custom-select">
                            <option selected="" value="">Select</option>
                            <option value="QHour">QHour</option>
                            <option value="ml">Per Day</option>
                            <option value="Tab">Per Week</option>
                        </select>
                    </span>
                    <div>

                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <label class="form-control-label" for="diastolicInput">Route
                        <!-- <span class='required'>*</span> -->
                    </label>
                    <input type="text" class="form-control" name="diastolicInput" id="diastolicInput" maxlength="100" />
                    <div>

                    </div>
                </div>
            </div>
            <div class="row pl-3 mt-3">
                <div class="col-md-2">
                    <div class="form-group">

                        <label class="form-control-label" for="o2sat">Start Date
                            <!-- <span class='required'>*</span> -->
                        </label>
                        <input type="text" class="form-control" name="o2sat" id="o2sat" maxlength="100" />
                        <div>

                        </div>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="form-group">

                        <label class="form-control-label" for="ag">End Date
                            <!-- <span class='required'>*</span> -->
                        </label> <input type="text" class="form-control" name="ag" id="ag" maxlength="100" />
                        <div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">

                        <label class="form-control-label" for="height">Last Taken Date & Time
                            <!-- <span class='required'>*</span> -->
                        </label> <input type="text" class="form-control" name="height" id="height" maxlength="100" />
                        <div>

                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">

                        <label class="form-control-label" for="weight">Type of Therapy
                            <!-- <span class='required'>*</span> -->
                        </label>
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="Accute"
                                value="option1" checked>
                            <label class="form-check-label" for="Accute">
                                Accute
                            </label>
                        </div>
                        <div>

                            <input class="form-check-input" type="radio" name="exampleRadios" id="Maintenance"
                                value="option2" checked>
                            <label class="form-check-label" for="Accute">
                                Maintenance
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" for="mrn">Remarks
                        </label>
                        <input type="text" class="form-control" required name="mrn" id="mrn" minlength="200" />
                    </div>
                </div>


            </div>


            <!--  end col 4 -->

        </div>

        <div class="row mb-3">
            <div class="col-sm-4 offset-sm-4 text-center">
                <button class="btn btn-primary">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th scope="col">Medications</th>
                            <th scope="col">Start</th>
                            <th scope="col">Stop</th>
                            <th scope="col">Last Taken Date & Time</th>
                            <th scope="col">Ordering Physician</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td style="word-wrap:break-word;">
                                Clopidogrel (Clopidogrel 75mg oral tablet)
                                1Tab(s), Oral, Daily, for 60 days
                                Remarks........................................
                            </td>
                            <td>01-04-2020 14:20</td>
                            <td>30-05-2020 14:20</td>
                            <td>08-04-2020 14:20</td>
                            <td>Dr. Mohammed Houcem Ameour</td>
                        </tr>
                        <tr>

                            <td style="word-wrap:break-word;">
                                Paracetamol 100 mg
                                2Tab(s), Oral, Daily, for 3 Days
                                Remarks.........................................
                            </td>
                            <td></td>
                            <td></td>
                            <td>08-04-2020 10:00</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>